/* ---- header ----*/
#header{
  text-align: center;
  padding: 1.6rem 2rem;
}

#header__title{
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;
}

/* --- main ---- */
#main{
  display: flex;
  align-items: center;
}

#container{
  display: grid;
  grid: repeat(3, 1fr) / repeat(6, 1fr);
  grid-template-areas:
  "a a a a a a"
  "b b b c c c"
  "d d d e e e";

  width: 100%;
  column-gap: 3rem;
  row-gap: 3rem;

}

#html{ 
  grid-area: a;
}

#css{ 
  grid-area: b;
}

#js{ 
  grid-area: c;
}

#figma{ 
  grid-area: d;
}

#ux{ 
  grid-area: e;
}

.main__categorie__data{
  width: min-content;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
}

.data-center{
  margin: auto;
}

.data-left{
  margin-left: auto;
}

.data-right{
  margin-right: auto;
}