/* ---- header ----*/
#header{
  text-align: center;
  padding: 1.6rem 2rem;
}

#header__title{
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;
}

/* --- main ---- */
#main{
  display: flex;
  align-items: center;
}

#container{
  display: grid;
  grid: repeat(3, 1fr) / repeat(6, 1fr);
  grid-template-areas:
  "a a a a a a"
  "b b b c c c"
  "d d d e e e";

  width: 100%;
  column-gap: 3rem;
  row-gap: 3rem;

}

#html{ 
  grid-area: a;
  position: relative;
}

#css{ 
  grid-area: b;
  position: relative;
}

#js{ 
  grid-area: c;
  position: relative;
}

#figma{ 
  grid-area: d;
  position: relative;
}

#ux{ 
  grid-area: e;
  position: relative;
}

.main__categorie__data{
  width: min-content;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  margin: auto; 
}

.main__categorie__data__img{
  width: 7rem;
  height: 7rem;
}

.main__categorie__data__name{
  margin-top: 1rem;
}

.link{
  color: white;
  text-decoration: none;
}

.data-center{
  margin: auto;
}

.data-left{
  margin-left: auto;
}

.data-right{
  margin-right: auto;
}


/* --- progress ----*/

svg{
  position: absolute;
  width: 9rem;
  height: 9rem;
  left: 3rem;
  top: -1rem;
  z-index: -1;
  margin: auto;
  background-color: #16161A;
}

.track{
  stroke-width: 7;
  stroke: #2CB67D;
  fill: none;
}

.progress {
  stroke-width: 7;
  stroke: #DDDDDD;
  stroke-linecap: round;
  fill: none;
  /* transform: rotate(270deg);
  transform-origin: center; */
}

#html-svg{
  margin: auto;
  left: 12rem;
}